<!DOCTYPE html>
<html lang="en">
	<html>
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>DEVOROYALE</title>
			<script src="https://pixijs.download/release/pixi.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
		</head>
		<body>


			<div class="relative bg-gradient-to-r from-purple-600 to-blue-600 h-screen text-white overflow-hidden">
				<div class="absolute inset-0">
					<img src="https://raw.githubusercontent.com/Victor-Casado/ChimiChangas__victorc353_chongtianm_danielp461_willn2/e28a2c20e99b9ef6d986d1bf13d608deb9c738b7/app/public/assets/homepage.png" alt="Background Image" class="object-cover object-center w-full h-full" />
					<div class="absolute inset-0 bg-black opacity-50"></div>
				</div>

				<div class="relative z-10 flex flex-col justify-center items-center h-full text-center">
					<h1 class="text-5xl font-bold leading-tight mb-4" id="greeting">
						Loading...

						<script>
							fetch('../../me')
								.then(res => res.json())
								.then(data => {
																document.getElementById('greeting').textContent = `Hi, ${data.username}!`;
															})
								.catch(err => {
																console.error('Error fetching /me:', err);
																document.getElementById('greeting').textContent = 'Error loading user';
															});
						</script>

						<a href="/game">JOIN GAME</a>

					</h1>
					<p class="text-lg text-gray-300 mb-8">May the Best Devo Prevail</p>
					<a href="/game" class="bg-yellow-400 text-gray-900 hover:bg-yellow-300 py-2 px-6 rounded-full text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg">Join Game</a>

				</div>
			</div>

			<!---
				<h1 id="greeting">Loading...</h1>

				<script>
					fetch('../../me')
				       .then(res => res.json())
				       .then(data => {
				       document.getElementById('greeting').textContent = `Hi, ${data.username}!`;
				       })
				       .catch(err => {
				       console.error('Error fetching /me:', err);
				       document.getElementById('greeting').textContent = 'Error loading user';
				       });
				</script>

				<a href="/game">JOIN GAME</a>
				--->
		</body>
	</html>
